# Дашборд для Яндекс.Дзен

**Описание проекта**

Почти все время у аналитика занимает анализ пользовательского взаимодействия с карточками статей.

Каждую карточку определяют её тема и источник (у него тоже есть тема). Примеры тем: «Красота и здоровье», «Россия», «Путешествия».
Пользователей системы характеризует возрастная категория. Скажем, «26-30» или «45+».

Есть три способа взаимодействия пользователей с системой:
* Карточка отображена для пользователя (show);
* Пользователь кликнул на карточку (click);
* Пользователь просмотрел статью карточки (view).

Каждую неделю менеджеры задают одни и те же вопросы: 
* Сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
* Как много карточек генерируют источники с разными темами?
* Как соотносятся темы карточек и темы источников?

**Цель проекта** 

построение дашборда для анализа взаимодействия менеджеров с карточками статей.

Дашборд будет основываться на пайплайне, который будет брать данные из таблицы, в которых хранятся сырые данные, трансформировать данные и укладывать их в агрегирующую таблицу.

Состав данных для дашборда:
* История событий по темам карточек (два графика - абсолютные числа и процентное соотношение);
* Разбивка событий по темам источников;
* Таблица соответствия тем источников темам карточек;

Параметры группировки данных:
* Дата и время;
* Тема карточки;
* Тема источника;
* Возрастная группа;

Характер данных:
* История событий по темам карточек — абсолютные величины с разбивкой по минутам;
* Разбивка событий по темам источников — относительные величины (% событий);
* Соответствия тем источников темам карточек - абсолютные величины;

## Подготовка данных

In [4]:
import pandas as pd
from sqlalchemy import create_engine
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'], db_config['host'], db_config['port'],
                                                db_config['db'])
engine = create_engine(connection_string) 
query = ''' SELECT *
            FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine) 
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [13]:
#запись данных в таблицу
dash_visits.to_csv("~/cert/dash_visits.csv")

## Дашборд

https://public.tableau.com/app/profile/veniamin.shendogan/viz/ProjectYa_Dzen/Dashboard1?publish=yes

## Презентация

https://disk.yandex.ru/i/LVj7oDE3IiuclA

## Вывод:
* Cколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?

Выделим ТОП5 популярных топиков - Наука 21 736 пользователей, Отношения 20 666 пользователей, Интересные факты 19 942, Общество 19 640, Подборки 17 772.

Менее поплярные являются топики - Знаменитости 7 394, Шоу 7 551, Женская психология 7 737


* Как много карточек генерируют источники с разными темами?

Топик "Семейные отношения" генерит 33 309 карточек
Топик "Россия" генерит 29 831 карточек
Топик "ПОлезные советы" 27 412 карточек

* Как соотносятся темы карточек и темы источников?

Больше всего карточек сгенерировано на топик Путешествия тема Рассказы 4 587.
На втором месте идет топик Россия с темой Общество 3 471.
На третьем месте топик Кино с темой Наука 3 279.

*Контакты:*

**ТГ** - @Veniamin_Al

**Mail** - v.shendogan@gmail.com